includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        # Predis client in version 1.0 is not iterable
        - '#Predis\\Client<Predis\\Client>#'
